* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(149, 206, 255), white);
    /* gradient retrieved from: https://www.w3schools.com/css/css3_gradients.asp */
    background-attachment: fixed;
    min-height: 100vh;
}

#flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: baseline;
    margin: 20px;
}


a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 50px black;
    /* shadow retrieved from: https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow */
    display: inline;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

#nirvanablues {
    text-align: center;
    display: inline-block;
    position: relative;
    margin-top: 50px;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
    /* shadow retrieved from: https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow */

    
}

#click {
    display: inline-block;
    position: absolute;
    margin-top: 45px;
    left: 50%;
    top: 20%;
    /* centering retrieved from https://www.w3schools.com/css/tryit.asp?filename=trycss_align_transform */
    font-size: 60px;
    color: white;
}