* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(75, 163, 240), white);
    background-attachment: fixed;
    min-height: 100vh;
}

p {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}

#baby {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}

#turn {
    position: absolute;
    top: 70%;
    right: 20%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}