* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(240, 96, 96), white);
    background-attachment: fixed;
    min-height: 100vh;
}

#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}

p {
    display: inline;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

#keep {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}

#yeah {
    position: absolute;
    top: 68%;
    left: 17%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}

#heart {
    display: inline-block;
}

#shaped {
    display: inline-block;
}

#heartshaped {
    color: rgb(229, 140, 230);
    display: inline-block;
}

#heartshaped:hover > #heart{
    transform: skew(2deg, 48deg);
}

#heartshaped:hover > #shaped {
    transform: skew(-2deg, -48deg);
}


/*
#heart {
    display: inline-block;
    transition-duration: 3s;
}


#heart:hover {
    transform: skew(20deg, -20deg);
}

#shaped {
    display: inline-block;
    transition-duration: 3s;
}

#shaped:hover {
    transform: skew(-20deg, 20deg);
}
*/