* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(240, 96, 96), white);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

#keep {
    position: absolute;
    top: 10%;
    left: 40%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}

#yeah {
    position: absolute;
    top: 68%;
    right: 70%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}