* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(240, 96, 96), white);
    /* gradient retrieved from: https://www.w3schools.com/css/css3_gradients.asp */
    background-attachment: fixed;
    min-height: 100vh;
}

#flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: baseline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
}

p {
    display: inline;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

#keep {
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
    /* shadow retrieved from: https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow */
}
/* centering retrieved from https://www.w3schools.com/css/tryit.asp?filename=trycss_align_transform */


#yeah {
    position: absolute;
    top: 68%;
    left: 17%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
    /* shadow retrieved from: https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow */
}
/* centering retrieved from https://www.w3schools.com/css/tryit.asp?filename=trycss_align_transform */


#heart {
    display: inline-block;
    transition-duration: 3s;
}

#shaped {
    display: inline-block;
    transition-duration: 3s;
}

#heartshaped {
    color: rgb(229, 140, 230);
    display: inline-block;
}

#heartshaped:hover > #heart{
    transform: skew(2deg, 48deg);
}
/* multiple element skew retrieved from https://stackoverflow.com/questions/8614423/how-to-change-one-element-while-hovering-over-another-with-css */

#heartshaped:hover > #shaped {
    transform: skew(-2deg, -48deg);
}
/* multiple element retrieved from https://stackoverflow.com/questions/8614423/how-to-change-one-element-while-hovering-over-another-with-css */

#next:hover {
    color: grey;
}