* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(75, 163, 240), white);
    /* gradient retrieved from: https://www.w3schools.com/css/css3_gradients.asp */
    background-attachment: fixed;
    min-height: 100vh;
}

#flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: baseline;
    margin: 20px;
}

p {
    display: inline;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 50px black;
    /* shadow retrieved from: https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow */
}

#baby {
    display: inline-block;
    position: absolute;
    min-width: 50%;
    min-height: 50%;
    top: 20%;
    left: 20%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
    /* shadow retrieved from: https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow */
}
/* centering retrieved from https://www.w3schools.com/css/tryit.asp?filename=trycss_align_transform */


#turn {
    position: absolute;
    top: 70%;
    right: 20%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
    /* shadow retrieved from: https://www.w3schools.com/cssref/playdemo.php?filename=playcss_text-shadow */
}
 /* centering retrieved from https://www.w3schools.com/css/tryit.asp?filename=trycss_align_transform */


#rock {
    color: rgb(247, 174, 66);
    display: inline-block;
    transition-duration: 3s;
}

#rock:hover {
    transform: scale(3) translate(35px, 0);
}