* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(229, 229, 64), white);
    background-attachment: fixed;
    min-height: 100vh;
}
#flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: baseline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 45px;
    text-shadow: 1px 1px 50px black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    display: inline-block;
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

#good {
    display: inline;
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}

#i {
    display: inline;
    position: absolute;
    top: 27%;
    right: 15%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}

#colde {
    position: absolute;
    top: 36%;
    right: 15%;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 50px black;
}

#stay {
    color: rgb(162, 236, 243);
    transition-duration: 3s;
    display: inline-block;
}

#stay:hover {
    transform: translate(0, -500%);
}